<div class="row">
  <div class="class col-sm-8">
  </div>
  <div class="col-sm-4">
    <%= @profile.full_name %>
    <%= @profile.username %>

    <p>Cake day<%= @profile.created_at.strftime("%d/%M/%Y") %></p>
  </div>
</div>